#paquetes {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    color: #2c003e;
}

#paquetes li{
    color: #2c003e;
}

#paquetes .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#paquetes .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#paquetes .card-header {
    font-size: 1.25rem;
    font-weight: bold;
}

#paquetes .card-footer button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}
